/* Color Theme Swatches in Hex 
Light almost white color: #B0BAD9; 
Background blue color: #051342; 
Dark green blue color: #021826; 
Light green blue color: #11698C; 
Mediun green blue color: #035159; 
*/
/*
font-family: 'BenchNine', sans-serif;
font-family: 'Benne', serif;
*/

*,*::before, *::after {
    box-sizing: border-box;
}

body, header {
    font-family: 'BenchNine', sans-serif;
    background-color: #051342;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

main {
    padding: 0 15px;
}

h1 {
    margin: 2rem 0;
    font-family: 'Benne', serif
}

h2 {
    margin: 2rem 0;
}


/* navigation */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    position: sticky;
    top: 0;
}

.logo {
    width: 50%;
}

nav.navigation {
    text-align: right;
    position: absolute;
    width: 100%;
}

nav a {
    display: block;
    padding: 10px 40px;
    font-size: 1.1rem;
    background: #051342;   
}

.navigation {
    display: none;
}

input[type="checkbox"]#hamburger:checked~.navigation {
    display: block;
}

#hamburger {
    display: none;
}

.hamburger {
    width: 20px;   
}

header img {
    width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover, a.active {
    text-decoration: underline;   
}

.sticky-top {
    position: sticky;
    top: 0;
}


/* container */

.launch-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.launches {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #B0BAD9;
    border-radius: 1rem;
    text-align: center;    
}

.images {
    max-width: 100%;
    text-align: center;
}

.details {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.details svg {
    width: 2rem;
    margin-right: 15px;
}

.information {
    margin: 0 0 2rem 0;
    border: 1px solid #B0BAD9;
    border-radius: 1rem;  
    padding: 0 2rem 2rem 2rem; 
}

iframe {
    width: 100%;
    height: 290px;
    border: 1px solid #B0BAD9;
    border-radius: 1rem;
}

.information svg {
    width: 3rem;
}


/* loader */

.loader {
    border: 5px solid #B0BAD9;
    border-top: 5px solid #11698C;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
    margin: 20px auto;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*contact form*/

.form-error {
    display: none;
    color: #ff0000;
}

.alert {
    border: 2px solid;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    margin: 30px 0 30px 0;
}

.success {   
    background: #008000;
}

.error {
    background: #800000;
}

button {
    padding: 5px;
    margin: 2% 10% 10%;
    width: 80%;
    background-color: #11698C;
    border: none;
    color: white;
}

input[type=text], textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;   
    font-family: 'BenchNine', sans-serif;
    font-size: 1rem;   
}

#e-mail {
    font-family: 'BenchNine', sans-serif;
    width: 30%;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

textarea {
    height: 200px;
}

/* footer */

footer {
    text-align: center;
    margin-top: 5rem;
}

.social svg {
    width: 10%;
    margin: 5% 2% 0 2%;
}

footer label {
    display: block;
    margin: 2%;
}



/* Different screen sizes */


/* for ipad screens */

@media only screen and (min-width: 500px) and (max-width: 850px) {

    h1 {
        text-align: center;
    }

    body, nav a, input[type=text], textarea, #e-mail, button {
        font-size: 1.1rem;
    }

    .logo {
        width: 40%;
    }

    .hamburger {
        width: 25px;   
    }
    
    .launches {
        width: 250px;
    }
    
    .launchpad-information .images, .rocket-information .images {
        min-width: 100%;
        text-align: center;
        height: auto;
    }

    .images {
        height: 200px;
        max-width: 200px;
        text-align: center;
    }

    button {
        margin: 2% 35%;
        padding: 10px;
        width: 30%;
    }
    
    .container {
        width: 80%;
        margin: 0 10%;
    }

    .social svg {
        width: 5%;
        margin: 5% 2% 0 2%;
    } 
}


/* Large screen size */

@media only screen and (min-width: 851px) {

    body, nav a, input[type=text], textarea, #e-mail, button {
        font-size: 1.3rem;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .logo {
        width: 25%;
    }

    .hamburger {
        width: 30px;   
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .contact-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .social svg {
        width: 7%;
    }

    .images {
        max-width: 250px;
        min-height: 200px;
        text-align: center;
    }

    button {
        margin: 2% 30%;
        padding: 10px;
        width: 40%;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    footer .flex-container  {
        align-items: center;
    }

    .column {
        flex: 1;
    }

    iframe {
        width: 100%;
        height: 500px;
        border: 1px solid #B0BAD9;
        border-radius: 1rem;
    }

    .launch-information {
        padding-left: 50px;
    }

    .launchpad-information, .rocket-information {
        flex: 1;
        padding: 10px;
    }
   
    .launchpad-information .information, .rocket-information .information {
        min-height: 700px;
    }

    .launchpad-information .images, .rocket-information .images {
        max-width: 350px;
        text-align: center;
    }

    #e-mail {
        width: 40%;
    }

}                                                                      